<div class="container">
  <div class="row">
    <div class="col-md-4 bg-clear">
      <%= link_to "Resume", resume_path, class: "btn btn-default btn-lg btn-block" %>
    </div>
    <div class="col-md-4 bg-clear"><%= link_to "Web Development", web_dev_path, class: "btn btn-default btn-lg btn-block"  %></div>
    <div class="col-md-4 bg-clear">
      
    </div>
    
  </div>
  
  <div class="row">
      <div class="col-md-4 bg-clear">
        
      </div>
      <div class="col-md-4 bg-clear"></div>
      <div class="col-md-4 bg-clear"><%= render "life_slideshow" %></div>
  </div>
