<div class="mainpage text-center">
    <h1 class="big">Brittany Hicks</h1>
    <h4>Web Developer</h4>
</div>
<div class="col-md-4"></div>
<div class="col-md-4 mainpage text-center">
    <h2><%= link_to "View Resume", resume_path, class: "btn btn-default btn-lg btn-block"  %></h2>
</div>