<div class="row">
    <div class="mainpage text-center">
        <h1 class="big bounceIn">Brittany Hicks</h1>
        <h4 class="bounceIn4">Web Developer</h4>
        
    </div>
    <div class="bounceIn6">
        <div class="text-center">
            <%= link_to "View Resume", resume_path, class: "btn index-btn"  %>
        </div>
    </div>
    
</div>
