<div class="col-md-12">
    <h1>Random <3</h1>
    <div class="col-md-8">
        <div class="embed-responsive embed-responsive-16by9">
            <%= embed("https://www.youtube.com/watch?v=_BQZOFUX2-Q") %>
        </div>
    </div>
    
    <div class="col-md-4">
        <h1>More <3</h1>
        <%= render "main/life_slideshow" %>
    </div>
</div>