<div class=" darkbox">
   <h3> <%= link_to post.title, blog_category_post_path(post.category, post) %></h3>
    <div class="">
      <p><%= time_ago_in_words post.published_at %></p>
      <%= link_to 'Destroy', blog_category_post_path(post.category, post), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
</div>