<div class="col-md-12 darkerbox shadow">
  <div class="col-md-12">
    <h1><%= @post.title %></h1>
    <div class="col-md-4"></div>
   <div class="col-md-12">
      <div class=""><%= markdownify @post.body %></div>
      <% if @post.source_url.present? %>
      <%= link_to "Learn More...", @post.source_url, target: "_blank", class: "btn index-btn bounceIn btn-lg btn-block pull-right"  %>
      <% else %>
      <% end %>
   </div>
  </div>
</div>