<div class="col-md-12">
    <h1 class="text-center white bold">Web Development</h1>
    <hr>
    <div class="col-md-6 well lighter">
        <h2 class="bold white">
        <%= link_to "http://www.inclustaff.com", class: "", target: "_blank" do %>
        IncluStaff 
        <% end %>
        </h2>
         <%= render "main/web_slideshow" %>
    </div>
    <div class="col-md-6 well">
         <h2 class="bold white">
        <%= link_to "http://www.inclustaff.com", class: "", target: "_blank" do %>
        KatTracker 
        <% end %>
        </h2>
        <%= image_tag("kattracker1.png", class: "img-responsive") %>
    </div>
</div>