/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Covered+By+Your+Grace|Josefin+Sans|Rock+Salt|Lato);
$font-family-sans-serif: 'Indie Flower', sans-serif;
body {
    font-family: 'Josefin Sans', sans-serif;
    background: url(Dream-Catcher-Sunset.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    // background-color: rgb(34, 34, 34);
    // background-color: #ffffff;
    // background: #ffffff url("feature3.jpg") no-repeat center top;
    // background-size: cover;
    // padding-top: 90px;
}
p, table {
    font-family: 'Lato', sans-serif;
}
.grace {
    font-family: 'Covered By Your Grace', cursive;
}
.rock {
    font-family: 'Rock Salt', cursive;
}
.shadow {
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
}
.screenshot {
    max-width: 550px;
}
// .img-zoom {
//     width: 310px;
//     -webkit-transition: all .2s ease-in-out;
//     -moz-transition: all .2s ease-in-out;
//     -o-transition: all .2s ease-in-out;
//     -ms-transition: all .2s ease-in-out;
// }
.white {
    color: white;
}
a {
    text-decoration: none;
}
a:visited {
    // color: rgba(0,0,0,0.5);
}
a:hover {
    // font-weight: bold;
    text-decoration: none;
    // color: rgb(51, 122, 183);
}
div.card {
    // width: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
    padding: 20px;
    margin: auto;
}

.navbar {
    border: none;
    background: transparent;
    margin-bottom: 0px;
}
.navbar-default .navbar-nav > li > a {
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 2em;
        font-family: 'Indie Flower', cursive;
        // font-family: 'Covered By Your Grace', cursive;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: white;
  font-weight: bold;
}
#nav-logo {
    height: 40px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.logo-img {
    
}
.mac-logo {
    max-height: 50px;
    max-width: 200px;
    display: inline;
    margin: 5px;
}
.rounded {
    // border: 2px solid;
    border-radius: 30px;
}
.darkbox {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding:8px;
    
}
.darkerbox {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding:8px;
    
}
#main-content {
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 1000px;
    // margin: 30px;
}
.big {
    font-size: 3em;
    max-width: 100%;
}
.bg-dream {
    background: url(Dream-Catcher-Sunset.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;
    margin-left: -20px;
    margin-right: -20px;
}
.bg-books {
    background: url(bg_books.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;
    margin-left: -20px;
    margin-right: -20px;
}
.well {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
}
.lighter {
    background-color: rgba(255, 255, 255, 0.6);
}
.bg-black {
    background-color: rgba(0, 0, 0, 0.95);
}
.bg-clear {
    background-color: transparent!important;
}
.middle {
    margin: auto;
}
.main-btn {
    color: white;
    text-align: center;
    &:visited {
        color: white;
    }
    &:hover {
        // font: normal bold 24px/70px Lato, serif;
        text-shadow: 2px 2px #fff;
        color: #ccc;
    }
}
.img-center {
    display:block;
    margin:auto;
}
.In-widget {
    width: 200px;
    margin: auto;
    margin-top: 20px;
}
.pic300 {
    max-height: 250px;
}
blockquote {
    background-color: black;
}
.school-logo-box {
    height: 100px;
}
.mainpage {
    margin-top: 30px;
    padding-top: 30px;
}
#navbar > ul > li.dropdown.open > ul > li > a {
    color: black;
}
a.white {
    color: white;
}
.brit-feathers {
    background: url(feathers.jpg) no-repeat center top fixed; 
    background-size: 100%;
    height: 300px;
}
.browns-mom {
    background: url(browns_mom.jpg) no-repeat center center fixed; 
    background-size: 100%;
    height: 300px;
}
.badass {
    animation: bounceIn 2s;
    // background: url(badass.jpg) no-repeat center top fixed; 
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: 100%;
    // margin: 30px;
    // opacity: 50%;
}
.image {
    margin: auto;
}
.index-btn {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 50px;
    // display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    // border: 2px solid #87231C;
    // border-radius: 100px;
    color: white;
    &:hover{
        background-color: rgba(0, 0, 0, 0.8);
        // font-size: 32px;
        color: white;
        // text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
}
.bounceIn{
    animation: bounceIn 2s;
}
.bounceIn-hover:hover{
    animation: bounceIn 2s;
}
.bounceIn4{
    animation: bounceIn 4s;
}
.bounceIn5{
    animation: bigShow 5s;
    
}
.bounceIn6{
    animation: bounceIn 6s;
}

.bigShow{
    // width: 200px;
    // height: 200px;
    animation: bigShow 2s;
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bigShow {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}