// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post {
    max-width: 500px;
    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        &:hover { 
            color: white;
        }
        &:visited { 
            color: white;
        }
    }
}
.black {
    color: black;
}